.comment {
  @include title-text;

  display: block;
  box-sizing: border-box;
  padding: 16px;

  text-align: left;

  background-color: $bg-input;
  border: none;
  resize: none;
  outline: none;

  &::placeholder {
    color: $black;
    opacity: 0.3;
  }

  &:hover {
    background-color: $border-grey;
  }

  &:focus,
  &:active {
    padding-left: 12px;
    padding-top: 12px;
    background-color: $white;
    border: $border-grey solid 4px;
  }
}
