.comment {
  @include title-text;

  display: block;
  box-sizing: border-box;
  padding: 16px;

  text-align: left;

  background-color: $bg-input;
  border: none;
  resize: none;

  &::placeholder {
    color: $black;
    opacity: 0.3;
  }
}
