.copyright {
  display: flex;
  justify-content: center;
}

.copyright__link {
  display: flex;
  align-items: center;
  color: $black;

  outline: none;

  &:hover,
  &:focus {
    color: $blue;
  }

  &:active {
    color: $brown-light;
  }
}

.copyright__text {
  margin: 0;
  margin-right: 12px;
}
