.hotels {
  padding-top: 38px;
  padding-bottom: 49px;
}

.hotels__title,
.hotels__descriprion {
  margin: 0;
}

.hotels__wrapper {
  @include wrapper;
  padding: 0 20px;
}

.hotels__title {
  @include title-text(21px);

  margin-bottom: 21px;
}

.hotels__descriprion {
  margin-bottom: 32px;

  text-align: center;

  & br {
    display: none;
  }
}

@media (min-width: $tablet-width) {
  .hotels {
    padding-top: 61px;
    padding-bottom: 58px;
  }

  .hotels__wrapper {
    width: 458px;
    padding: 0;
  }

  .hotels__descriprion {
    margin-bottom: 40px;

    & br {
      display: inline;
    }
  }
}
