.map__layout {
  height: 350px;

  background-image: url("../img/map-mobile@1x.png");
  background-repeat: no-repeat;
  background-position: center;
  background-color: #f2f1ed;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/map-mobile@2x.png");
    background-size: 320px auto;
  }
}

.map__iframe {
  display: block;
  width: 100%;
  height: 350px;
}

@media (min-width: $tablet-width) {
  .map__layout {
    background-image: url("../img/map-tablet@1x.png");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/map-tablet@2x.png");
      background-size: 768px auto;
    }
  }
}

@media (min-width: $desktop-width) {
  .map__layout {
    background-image: url("../img/map-desktop@1x.png");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/map-desktop@2x.png");
      background-size: 1200px auto;
    }
  }
}
