.photos__wrapper {
  @include wrapper;
  padding: 0 20px;
}

.photos__header {
  padding-top: 30px;
  padding-bottom: 37px;
}

.photos__headline {
  @include title-text;

  margin-top: 0;
  margin-bottom: 24px;
}

.photos__intro {
  margin: 0;
  text-align: center;
}

.photos__list {
  @include list-style-reset;
}

.photos__item {
  padding-top: 24px;
  padding-bottom: 25px;

  border-bottom: 1px solid $border-grey;
}

.photos__content {
  @include wrapper;
  padding: 0 20px;
}

.photos__image {
  display: block;
}

.photos__title {
  @include title-text(14px, $black, left);

  line-height: 21px;

  margin-top: 15px;
  margin-bottom: 1px;
}

.photos__author {
  margin-top: 0;
  margin-bottom: 11px;
  text-transform: none;
}

.photos__like-wrapper {
  display: flex;
}

.photos__like {
  display: block;
  margin-right: 14px;
}

.photos__like-count {
  @include title-text(14px);

  margin: 0;
  padding-top: 2px;

  line-height: 21px;
}

@media (min-width: $tablet-width) {
  .photos__wrapper {
    padding: 0 60px;

    &--intro {
      padding: 0 161px;
    }
  }

  .photos__header {
    padding-top: 61px;
    padding-bottom: 77px;
  }

  .photos__headline {
    font-size: 30px;
  }

  .photos__list {
    @include wrapper;

    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 60px;
  }

  .photos__item {
    padding: 0;
    border-bottom: 0;

    &--wide {
      grid-column: span 2;
    }
  }

  .photos__content {
    width: auto;
    margin: 0;
    padding: 0;
  }

  .photos__image {
    width: 324px;
    height: 267px;

    &--wide {
      width: 648px;
      height: 400px;
    }
  }

  .photos__details {
    display: flex;
    justify-content: space-between;

    padding: 0 20px;

    background-color: $bg-input;
  }

  .photos__title {
    margin-top: 22px;
  }

  .photos__author {
    margin-bottom: 15px;
  }

  .photos__like {
    margin-right: 9px;
  }

  .photos__like-wrapper {
    align-self: center;
  }
}

@media (min-width: $desktop-width) {
  .photos__wrapper--intro {
    padding: 0 377px;
  }

  .photos__header {
    padding-top: 100px;
  }

  .photos__list {
    grid-template-columns: 1fr 1fr 1fr;
    padding: 0;
  }

  .photos__item {
    &--wide {
      grid-column: span 3;
    }
  }

  .photos__image {
    width: 400px;

    &--wide {
      width: 1200px;
    }
  }

  .photos__content {
    position: relative;
  }

  .photos__details {
    position: absolute;
    bottom: 0;

    width: 400px;
    box-sizing: border-box;


    background-color: rgba($black, 0.3);

    &--wide {
      width: 1200px;
    }
  }

  .photos__like path {
    fill: $white;
    opacity: 1;
  }

  .photos__title,
  .photos__author,
  .photos__like-count {
    color: $white;
  }
}
