.site-list {
  // display: none;

  @include list-style-reset;
}

.site-list__item a {
  display: block;

  padding-top: 15px;
  padding-bottom: 14px;

  font-family: $font-bold;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  color: $white;
}
