.text-input {
  width: 100%;
  height: 58px;
  padding: 16px;
  box-sizing: border-box;

  @include title-text(18px, $black, left);
  border: 0;
  background-color: $bg-input;

  outline: none;

  &--contact {
    padding-right: 58px;
  }

  &:hover {
    background-color: $border-grey;
  }

  &:focus,
  &:active {
    background-color: $white;
    border: $border-grey solid 4px;
  }
}
