.videos__wrapper {
  @include wrapper;
  padding: 0 20px;
}

.videos__header {
  padding-top: 17px;
  padding-bottom: 38px;
}

.videos__headline {
  @include title-text;

  margin-top: 0;
  margin-bottom: 26px;
}

.videos__intro {
  margin: 0;

  text-align: center;
}

.videos__layout {
  position: relative;
}

.videos__image {
  display: block;
  width: 100%;
}

.videos__play-button {
  position: absolute;
  content: "";
  left: 124px;
  top: 63px;

  width: 48px;
  height: 54px;
  padding: 0;
  border: 0;

  background-image: url("../img/play.svg");
  background-color: transparent;
  cursor: pointer;
}

@media (min-width: $tablet-width) {
  .videos {
    margin-bottom: 40px;
  }

  .videos__wrapper {
    padding: 0 60px;
  }

  .videos__header {
    padding-top: 55px;
    padding-bottom: 89px;
    padding-left: 101px;
    padding-right: 102px;
  }

  .videos__headline {
    margin-bottom: 32px;
    font-size: 30px;
  }

  .videos__layout {
    width: 648px;
  }

  .videos__play-button {
    top: 223px;
    left: 300px;
  }
}

@media (min-width: $desktop-width) {
  .videos {
    margin-bottom: 84px;
  }

  .videos__wrapper {
    padding: 0;
  }

  .videos__header {
    padding-top: 60px;
    padding-bottom: 87px;
    padding-left: 377px;
    padding-right: 378px;
  }

  .videos__layout {
    width: 800px;
    margin: 0 auto;
  }

  .videos__play-button {
    left: 376px;
  }
}
