$black: #000000;
$white: #ffffff;
$blue: #81b3d2;
$bg-grey: #d6d6d6;
$bg-input: #f2f2f2;
$bg-input-icon: #e6e6e6;
$font-grey: #333333;
$font-regular: "PT Sans", "Verdana", sans-serif;
$font-bold: "PT Sans Bold", "Verdana", sans-serif;
$border-grey: #e5e5e5;
